<template>
  <router-view />
</template>

<script>
import { ref, provide } from "vue";
// import axios from "axios";

export default {
  setup() {
    const isLoggedIn = ref(true);
    // TODO: Implement basic/jwt auth
    // const accessToken = ref("");

    const updateLogin = () => {
      isLoggedIn.value = !isLoggedIn.value;
    };

    // const updateAccessToken = (token) => {
    //   accessToken.value = token;
    //   axios.defaults.headers.common["Authorization"] = "Bearer " + token;
    // };

    provide("auth", {
      isLoggedIn,
      updateLogin,
      // accessToken,
      // updateAccessToken,
    });

    return { isLoggedIn, updateLogin };
  },
};
</script>
