@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-spacing-0 {
    border-spacing: 0;
  }
}

@layer components {
  .btn-ghost {
    @apply border border-black p-2 rounded-md dark:border-white;
    @apply hover:bg-yellow-400 hover:border-yellow-400 dark:hover:text-black;
  }

  .input {
    @apply block px-2 py-1 bg-gray-300 rounded-lg dark:bg-gray-800;
  }

  .checkbox {
    @apply relative flex w-full overflow-hidden text-center rounded cursor-pointer;
  }
  .checkbox > input {
    @apply absolute invisible w-full h-full;
  }
  .checkbox > span {
    @apply w-full h-full px-2 py-1 bg-gray-800;
  }
  .checkbox > input:checked ~ span {
    @apply text-black bg-yellow-400;
  }

  .custom-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .custom-scrollbar::-webkit-scrollbar:vertical {
    width: 12px;
  }
  .custom-scrollbar::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d6d6d6;
  }
}
