<template>
  <div class="h-full text-black dark:text-white">
    <div class="w-full p-4">
      <div class="mx-auto max-w-screen-sm pt-8 text-center">
        <h1 class="text-6xl font-handwritten text-center">Personalizer</h1>

        <div class="relative h-8 mt-4">
          <theme-toggle class="absolute inset-0 m-auto" />
        </div>

        <p class="mt-8 text-2xl font-bold">
          Blitzschnelle Nutzerverwaltung.<br />Denn deine Zeit ist kostbar.
        </p>

        <div v-if="auth.isLoggedIn.value" class="flex space-x-2 mt-10">
          <router-link to="/uebersicht" class="btn-ghost block w-full"
            >Zur App</router-link
          >
        </div>
        <div v-else class="flex space-x-2 mt-10">
          <!-- <button -->
          <!--   class="btn-ghost block w-full" -->
          <!--   @click="showLogin = !showLogin" -->
          <!-- > -->
          <!--   Login -->
          <!-- </button> -->
          <!-- <button -->
          <!--   class="btn-ghost block w-full" -->
          <!--   @click="showRegister = !showRegister" -->
          <!-- > -->
          <!--   Registrieren -->
          <!-- </button> -->
          <button class="btn-ghost block w-full" @click="auth.updateLogin">
            Login
          </button>
          <button class="btn-ghost block w-full" @click="auth.updateLogin">
            Registrieren
          </button>
        </div>

        <div class="mt-12 flex flex-wrap justify-center -m-1">
          <app-card
            v-for="(card, index) in cards"
            :key="index"
            :svg="card.svg"
            :text="card.msg"
            class="m-1 w-full lg:w-64"
          />
        </div>
      </div>
    </div>

    <!-- Login modal -->
    <app-modal v-if="showLogin" @toggle="showLogin = !showLogin">
      <app-login />
    </app-modal>
    <!-- Register modal -->
    <app-modal v-if="showRegister" @toggle="showRegister = !showRegister">
      <app-register />
    </app-modal>
  </div>
</template>

<script>
import { ref, inject } from "vue";
import { SvgUsers, SvgBeaker, SvgChartPie } from "../assets/svg";
import {
  ThemeToggle,
  AppCard,
  AppRegister,
  AppLogin,
  AppModal,
} from "../components";

export default {
  name: "Home",
  components: {
    ThemeToggle,
    AppCard,
    AppRegister,
    AppLogin,
    AppModal,
  },

  setup() {
    const showRegister = ref(false);
    const showLogin = ref(false);

    const token = ref("");
    const setToken = (newToken) => {
      token.value = newToken;
    };

    const auth = inject("auth");

    const cards = [
      { msg: "Nutzer anlegen", svg: SvgUsers },
      { msg: "Rollen verteilen", svg: SvgBeaker },
      { msg: "Rechte zuweisen", svg: SvgChartPie },
    ];

    return { cards, showRegister, showLogin, token, setToken, auth };
  },
};
</script>
