<template>
  <div v-if="auth.isLoggedIn.value" class="text-black dark:text-white">
    <app-header
      class="px-2 pt-2 border-l-2 border-r-2 border-gray-100 dark:border-black"
    />

    <div class="border-2 border-yellow-400 p-2">
      <section-user
        @addUser="addUser"
        @removeUser="removeUser"
        @updateUser="updateUser"
        :users="users"
        :roles="roles"
        class="px-4 py-8 border border-gray-300 rounded"
      />

      <section-role
        @addRole="addRole"
        @removeRole="removeRole"
        @updateRole="updateRole"
        :roles="roles"
        :permissions="permissions"
        class="px-4 py-8 -mt-px border border-gray-300 rounded"
      />

      <section-permission
        @addPermission="addPermission"
        @removePermission="removePermission"
        :permissions="permissions"
        class="px-4 py-8 -mt-px border border-gray-300 rounded"
      />
    </div>
  </div>
  <app-login v-else />
</template>

<script>
import { ref, inject } from "vue";
import {
  AppHeader,
  AppLogin,
  SectionPermission,
  SectionRole,
  SectionUser,
} from "../components";

export default {
  components: {
    AppHeader,
    AppLogin,
    SectionPermission,
    SectionRole,
    SectionUser,
  },

  name: "Overview",

  emits: ["updateLogin"],

  props: ["isLoggedIn"],

  setup() {
    const auth = inject("auth");

    const users = ref([
      {
        id: 0,
        firstName: "Max",
        lastName: "Mustermann",
        email: "test@sk.de",
        phoneNumber: "28482943",
        role: "Nutzer",
      },
      {
        id: 1,
        firstName: "Peter",
        lastName: "abc",
        email: "skd@sk.de",
        phoneNumber: "1234",
        role: "Admin",
      },
      {
        id: 2,
        firstName: "Günther",
        lastName: "def",
        email: "fkd@sk.de",
        phoneNumber: "438575",
        role: "Subscriber",
      },
      {
        id: 3,
        firstName: "Tony",
        lastName: "ghi",
        email: "fkd@sk.de",
        phoneNumber: "14848",
        role: "Subscriber",
      },
      {
        id: 4,
        firstName: "Olaf",
        lastName: "jkl",
        email: "fkd@sk.de",
        phoneNumber: "5484",
        role: "Subscriber",
      },
    ]);

    const roles = ref([
      { name: "Nutzer", permissions: ["read", "execute"] },
      { name: "Admin", permissions: ["read", "write", "execute"] },
      { name: "Subscriber", permissions: ["read"] },
    ]);

    let roleInput = ref("");

    let checkedPermissions = ref([]);

    const permissions = ref(["read", "write", "execute"]);

    const addPermission = (permission) => {
      if (permission.length && !permissions.value.includes(permission)) {
        permissions.value = [...permissions.value, permission];
      }
    };

    const removePermission = (permission) => {
      permissions.value = permissions.value.filter(
        (item) => item !== permission
      );

      syncPermissions(permission);
    };

    const addRole = (role, permissions) => {
      const roleNames = roles.value.map((item) => item.name);

      if (role.length && !roleNames.includes(role)) {
        roles.value = [...roles.value, { name: role, permissions }];
        checkedPermissions.value = [];
        roleInput.value = "";
      }
    };

    const updateRole = (roleName, permission) => {
      const i = roles.value.findIndex((item) => item.name === roleName);
      let roleUpdate = [...roles.value][i];
      if (roleUpdate.permissions.includes(permission)) {
        // Insert permission
        roleUpdate = {
          ...roleUpdate,
          permissions: roleUpdate.permissions.filter(
            (item) => item !== permission
          ),
        };
      } else {
        // Remove permission
        roleUpdate = {
          ...roleUpdate,
          permissions: [...roleUpdate.permissions, permission],
        };
      }
      roles.value[i].permissions = roleUpdate.permissions;
    };

    function syncPermissions(permission) {
      roles.value = roles.value.map((item) => {
        const newRolePermissions = item.permissions.filter(
          (item) => item !== permission
        );
        return { ...item, permissions: newRolePermissions };
      });
    }

    const removeRole = (role) => {
      roles.value = roles.value.filter((item) => item.name !== role);
      syncRoles(role);
    };

    function syncRoles(role) {
      users.value = users.value.map((item) => {
        const newUserRole = item.role === role ? "" : item.role;
        return { ...item, role: newUserRole };
      });
    }

    const addUser = (user) => {
      const id = Date.now();
      const { firstName, lastName, email, phoneNumber, role } = user;
      const newUser = {
        id,
        firstName,
        lastName,
        email,
        phoneNumber,
        role,
      };
      users.value = [...users.value, newUser];
    };

    const updateUser = (user) => {
      const i = users.value.findIndex((item) => item.id === user.id);
      users.value[i].firstName = user.firstName;
      users.value[i].lastName = user.lastName;
      users.value[i].email = user.email;
      users.value[i].phoneNumber = user.phoneNumber;
      users.value[i].role = user.role;
    };

    const removeUser = (user) => {
      users.value = users.value.filter((item) => item.id !== user.id);
    };

    return {
      auth,
      users,
      roles,
      permissions,
      addPermission,
      removePermission,
      removeRole,
      checkedPermissions,
      addRole,
      roleInput,
      removeUser,
      updateRole,
      addUser,
      updateUser,
    };
  },
};
</script>
