<template>
  <div>
    <app-header class="px-2 pt-2 border-l-2 border-r-2 border-black" />

    <div class="border-2 border-yellow-400 p-2">
      <section class="border rounded p-8">
        <div class="mx-auto max-w-xs">
          <h3 class="text-xl font-bold">Emailadresse ändern</h3>
          <label class="mt-4 block"
            ><span class="text-xs">Email</span>
            <input v-model="inputEmail" type="email" class="input w-full"
          /></label>
          <button class="btn-ghost mt-4">OK</button>
        </div>
      </section>

      <section class="border rounded -m-px p-8">
        <div class="mx-auto max-w-xs">
          <h3 class="text-xl font-bold">Passwort ändern</h3>
          <label class="block mt-4"
            ><span class="text-xs">Altes Passwort</span>
            <input type="password" class="input w-full"
          /></label>
          <label class="block"
            ><span class="text-xs">Neues Passwort</span>
            <input type="password" class="input w-full"
          /></label>
          <label class="block"
            ><span class="text-xs">Wiederholen</span>
            <input type="password" class="input w-full"
          /></label>
          <button class="btn-ghost mt-4">OK</button>
        </div>
      </section>

      <section class="border rounded -m-px p-4">
        <button
          class="rounded-full bg-red-500 py-2 px-3 mx-auto block max-w-xs w-full my-4"
        >
          Account löschen!
        </button>
      </section>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import axios from "axios";
import { AppHeader } from "../components";

export default {
  name: "Settings",

  components: {
    AppHeader,
  },

  setup() {
    const inputEmail = ref("");

    onMounted(() => {
      console.log("mounted");
      axios
        .get("api/accounts")
        .then((res) => {
          inputEmail.value = res.data.email;
        })
        .catch((err) => {
          console.log(err);
        });
    });

    return { inputEmail };
  },
};
</script>
