<template>
  <div
    class="bg-black bg-opacity-95 fixed w-screen h-screen top-0 left-0 z-50 p-8 pt-14"
  >
    <button
      @click="$emit('toggle')"
      class="block ml-auto text-xl font-black absolute right-0 top-0 mt-4 mr-4"
    >
      X
    </button>
    <div class="flex h-full overflow-y-auto">
      <slot />
    </div>
  </div>
</template>

<script>
import { onMounted, onUnmounted } from "vue";

export default {
  name: "AppModal",
  setup() {
    onMounted(() => {
      document.body.classList.add("overflow-hidden");
    });
    onUnmounted(() => {
      document.body.classList.remove("overflow-hidden");
    });
  },
};
</script>
