<template>
  <div class="rounded border-black border dark:border-white p-4 shadow">
    <div
      class="w-16 h-16 mx-auto bg-yellow-400 text-black rounded-full flex justify-center items-center"
    >
      <component :is="svg" class="w-8 h-8" />
    </div>
    <div class="mt-4">
      <p>{{ text }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "AppCard",
  props: ["text", "svg"],
};
</script>
