<template>
  <div class="border-2 border-black p-4 w-1/2 mx-auto">
    <p class="font-bold text-xl">Registrieren</p>
    <form class="flex flex-col text-left">
      <label
        >Email
        <input v-model="inputEmail" type="email" class="block border" required
      /></label>
      <label
        >Passwort
        <input
          v-model="inputPassword"
          type="password"
          class="block border"
          required
      /></label>
      <label
        >Passwort (wiederholen)<input
          v-model="inputPasswordRepeated"
          type="password"
          class="block border"
          required
      /></label>
      <label
        >Einladungscode
        <input
          v-model="inputInvitationCode"
          type="text"
          class="block border"
          required
      /></label>
      <!-- <button type="submit">Anmelden</button> -->
      <button @click="register($event)">Anmelden</button>
    </form>
    <p v-if="showError">error</p>
  </div>
</template>

<script>
import { ref, inject } from "vue";
import axios from "axios";

export default {
  name: "AppRegister",

  setup() {
    const inputEmail = ref("");
    const inputPassword = ref("");
    const inputPasswordRepeated = ref("");
    const inputInvitationCode = ref("");

    const showError = ref(false);

    const auth = inject("auth");

    const register = (event) => {
      event.preventDefault();
      if (inputPassword.value !== inputPasswordRepeated.value) {
        showError.value = true;
        return;
      }
      axios
        .post("api/accounts", {
          email: inputEmail.value,
          password: inputPassword.value,
          invitationCode: inputInvitationCode.value,
        })
        .then((res) => {
          // TODO:
          auth.updateAccessToken(res.data.accessToken);
          console.log(res);
        })
        // TODO:
        .catch((err) => {
          console.log(err);
        });
    };

    return {
      inputEmail,
      inputPassword,
      inputPasswordRepeated,
      inputInvitationCode,
      register,
      showError,
    };
  },
};
</script>
