<template>
  <div class="border-2 border-black p-4 w-1/2 mx-auto">
    <p class="font-bold text-xl">Login</p>
    <form class="flex flex-col text-left">
      <label
        >Email
        <input v-model="inputEmail" type="email" class="block border" required
      /></label>
      <label
        >Passwort
        <input
          v-model="inputPassword"
          type="password"
          class="block border"
          required
      /></label>
      <!-- <button type="submit">Anmelden</button> -->
      <button @click.prevent="login">Anmelden</button>
    </form>
  </div>
</template>

<script>
import { ref, inject } from "vue";
import { useRouter } from "vue-router";
import axios from "axios";

export default {
  name: "AppLogin",

  setup() {
    const router = useRouter();

    const inputEmail = ref("");
    const inputPassword = ref("");

    const auth = inject("auth");

    const login = () => {
      axios
        .post("/api/token", {
          // email: inputEmail.value,
          // password: inputPassword.value,
          email: "asdf@asdf.de",
          password: "Asdf1234.",
        })
        .then((res) => {
          // emit("setToken", res.data.accessToken);
          // auth.updateAccessToken(res.data.accessToken);
          auth.updateAccessToken(res.data.accessToken);
          // TODO: this is bad
          auth.isLoggedIn.value = true;
          router.push("/uebersicht");
        })
        .catch((err) => console.log(err.response));
      // TODO: activate this
      //inputPassword.value = "";
    };

    return { inputEmail, inputPassword, login };
  },
};
</script>
