<template>
  <header class="text-center">
    <p class="font-handwritten text-black dark:text-white text-xl">
      Personalizer
    </p>
    <div class="relative h-8">
      <theme-toggle class="absolute inset-0 m-auto" />
    </div>

    <nav
      class="grid grid-cols-2 gap-px mt-2 text-black -mb-px max-w-lg mx-auto lg:ml-auto lg:mr-0"
    >
      <router-link
        to="/uebersicht"
        class="bg-yellow-400 text-black rounded-tl-md hover:bg-yellow-300"
        >Übersicht</router-link
      >
      <router-link
        to="/einstellungen"
        class="bg-yellow-400 rounded-tr-md hover:bg-yellow-300"
        >Einstellungen</router-link
      >
    </nav>
  </header>
</template>

<script>
import ThemeToggle from "./theme-toggle";

export default {
  components: {
    ThemeToggle,
  },
};
</script>
