<template>
  <button
    class="border-2 border-green-500 text-green-500 rounded-full w-8 h-8 p-1 hover:bg-green-500 hover:text-black"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      />
    </svg>
  </button>
</template>

<script>
export default {
  name: "ButtonAdd",
};
</script>

