<template>
  <button class="whitespace-nowrap">
    <slot />
    <sort-order
      :isAscending="isAscending"
      class="h-4 w-4 align-middle ml-2 inline-block text-white"
      :class="{ invisible: invisibleIcon }"
    />
  </button>
</template>

<script>
import SortOrder from "./sort-order";

export default {
  name: "ButtonSort",

  components: {
    SortOrder,
  },

  props: ["invisibleIcon", "isAscending"],
};
</script>
