<template>
  <div class="relative">
    <svg-magnifier
      class="w-4 h-4 absolute left-0 inset-y-0 my-auto text-gray-500 dark:text-gray-400 ml-1"
    />
    <input
      @input="$emit('newInput', searchInput)"
      v-model="searchInput"
      type="text"
      class="input pl-6 w-full"
    />
  </div>
</template>

<script>
import { ref } from "vue";
import SvgMagnifier from "../assets/svg/magnifier";

export default {
  name: "SearchField",

  components: {
    SvgMagnifier,
  },

  setup() {
    const searchInput = ref("");

    return { searchInput };
  },
};
</script>
