<template>
  <section>
    <h2 class="text-xl font-bold text-center">Rollen ({{ roles.length }})</h2>

    <div v-if="roles.length > 0">
      <search-field @newInput="setSearch" class="max-w-xs mx-auto mt-4" />

      <div class="mt-10 overflow-x-auto custom-scrollbar">
        <table class="text-left border-separate border-spacing-0 mx-auto">
          <tr>
            <th
              class="sticky left-0 p-4 bg-gray-100 border-r border-gray-400 dark:bg-black dark:border-white"
            >
              <button-sort
                @click="sortRolesBy('name')"
                :isAscending="isAscending"
                :invisibleIcon="sortBy !== 'name'"
                >Rolle</button-sort
              >
            </th>
            <td v-for="(role, i) in sortedRoles" :key="i" class="p-4">
              {{ role.name }}
            </td>
          </tr>

          <tr>
            <th
              class="sticky left-0 p-4 bg-gray-100 border-r border-gray-400 dark:bg-black dark:border-white"
            >
              <button-sort
                @click="sortRolesBy('permissions')"
                :isAscending="isAscending"
                :invisibleIcon="sortBy !== 'permissions'"
                >Rechte</button-sort
              >
            </th>
            <td v-for="(role, i) in sortedRoles" :key="i" class="p-4">
              <div v-for="(permission, i) in role.permissions" :key="i">
                {{ permission }}
              </div>
            </td>
          </tr>

          <tr>
            <th class="sticky left-0 p-4 bg-gray-100 dark:bg-black"></th>
            <td v-for="(role, i) in sortedRoles" :key="i" class="p-4">
              <div class="flex space-x-2">
                <button-edit @click="openRoleEdit(role)" />
                <button-remove @click="$emit('removeRole', role.name)" />
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <app-modal v-if="roleEdit.show" @toggle="roleEdit.show = !roleEdit.show">
      <div class="w-full max-w-md m-auto">
        <p class="text-xl font-bold">Rolle bearbeiten</p>
        <p class="font-black text-2xl mt-4">{{ roleEdit.roleName }}</p>

        <p class="mt-4 text-sm">Rechte auswählen</p>
        <div class="flex flex-col items-center space-y-1">
          <label
            v-for="(permission, i) in permissions"
            :key="i"
            class="checkbox"
          >
            <input
              @click="$emit('updateRole', roleEdit.roleName, permission)"
              :checked="
                roles[
                  roles.findIndex((item) => item.name === roleEdit.roleName)
                ].permissions.includes(permission)
              "
              :value="permission"
              type="checkbox"
            />
            <span>{{ permission }}</span>
          </label>
        </div>
      </div>
    </app-modal>

    <button
      @click="showRoleAdd = !showRoleAdd"
      class="block mx-auto mt-10 btn-ghost"
    >
      Rolle hinzufügen
    </button>

    <app-modal v-if="showRoleAdd" @toggle="showRoleAdd = !showRoleAdd">
      <div class="w-full max-w-md m-auto">
        <p class="text-xl font-bold">Rolle hinzufügen</p>
        <label class="block mt-4"
          ><span class="text-sm">Rolle</span
          ><input v-model="roleInput" class="block input w-full" type="text"
        /></label>

        <p class="mt-4 text-sm">Rechte auswählen</p>
        <div class="flex flex-col items-center space-y-1">
          <label
            v-for="(permission, index) in permissions"
            :key="index"
            class="checkbox"
          >
            <input
              type="checkbox"
              :value="permission"
              v-model="checkedPermissions"
            />
            <span>{{ permission }}</span>
          </label>
        </div>

        <button-add @click="addRole" class="block mx-auto mt-4" />
      </div>
    </app-modal>
  </section>
</template>

<script>
import { ref, computed, toRefs, reactive } from "vue";
import AppModal from "../components/app-modal";
import ButtonAdd from "../components/button-add";
import ButtonEdit from "../components/button-edit";
import ButtonRemove from "../components/button-remove";
import ButtonSort from "../components/button-sort";
import SearchField from "./search-field";

export default {
  name: "SectionRole",
  components: {
    AppModal,
    ButtonAdd,
    ButtonEdit,
    ButtonRemove,
    SearchField,
    ButtonSort,
  },

  props: ["roles", "permissions"],

  setup(props, { emit }) {
    const { roles } = toRefs(props);

    const showRoleAdd = ref(false);

    const roleEdit = reactive({
      show: false,
      roleName: "",
    });
    const openRoleEdit = (role) => {
      roleEdit.show = true;
      roleEdit.roleName = role.name;
    };

    const roleInput = ref("");
    const checkedPermissions = ref([]);

    const addRole = () => {
      emit("addRole", roleInput.value, checkedPermissions.value);
      showRoleAdd.value = !showRoleAdd.value;
      roleInput.value = "";
      checkedPermissions.value = [];
    };

    const updateRole = (roleName, rolePermissions) => {
      console.log(roles.value[0].permissions[0]);
      emit("updateRole", roleName, rolePermissions);
    };

    const search = ref("");
    const setSearch = (value) => {
      search.value = value;
    };
    const searchRoles = computed(() => {
      const filtered = roles.value.filter((item) => {
        for (let key in item) {
          if (Array.isArray(item[key])) {
            if (
              item[key]
                .join(" ")
                .toLowerCase()
                .includes(search.value.toLowerCase())
            )
              return true;
          } else {
            if (item[key].toLowerCase().includes(search.value.toLowerCase()))
              return true;
          }
        }
        return false;
      });
      return filtered;
    });

    const sortBy = ref("name");
    const isAscending = ref(true);

    const sortedRoles = computed(() => {
      const sorted = [...searchRoles.value].sort((a, b) => {
        const orderModifier = isAscending.value ? 1 : -1;
        const aLower = Array.isArray(a[sortBy.value])
          ? a[sortBy.value].join("").toLowerCase()
          : a[sortBy.value].toLowerCase();
        const bLower = Array.isArray(b[sortBy.value])
          ? b[sortBy.value].join("").toLowerCase()
          : b[sortBy.value].toLowerCase();
        if (aLower > bLower) {
          return 1 * orderModifier;
        } else if (aLower < bLower) {
          return -1 * orderModifier;
        } else {
          return 0;
        }
      });
      return sorted;
    });

    const sortRolesBy = (by) => {
      if (sortBy.value === by) {
        isAscending.value = !isAscending.value;
      } else {
        isAscending.value = true;
      }
      sortBy.value = by;
    };

    return {
      showRoleAdd,
      checkedPermissions,
      roleInput,
      addRole,
      sortedRoles,
      isAscending,
      sortBy,
      sortRolesBy,
      setSearch,
      updateRole,
      roleEdit,
      openRoleEdit,
    };
  },
};
</script>
