<template>
  <section>
    <h2 class="text-center font-bold text-xl">
      Rechte ({{ permissions.length }})
    </h2>

    <div class="mt-8 flex items-end justify-center">
      <label class="flex flex-col items-start"
        ><span class="text-xs ml-1">Recht hinzufügen</span>
        <input
          @keypress.enter="addPermission"
          v-model="permissionInput"
          type="text"
          class="input"
        />
      </label>
      <button-add @click="addPermission" class="ml-2" />
    </div>

    <button v-if="permissions.length > 1" class="w-5 h-5 mx-auto block mt-6">
      <sort-order
        @click="isAscending = !isAscending"
        :isAscending="isAscending"
      />
    </button>

    <div class="space-y-2 mt-4">
      <div
        v-for="(permission, index) in sortedPermissions"
        :key="index"
        class="grid grid-cols-2 gap-2 items-center"
      >
        <p class="inline-block text-right">
          {{ permission }}
        </p>
        <button-remove @click="$emit('removePermission', permission)" />
      </div>
    </div>
  </section>
</template>

<script>
import { computed, ref, toRefs } from "vue";
import ButtonAdd from "./button-add";
import ButtonRemove from "./button-remove";
import SortOrder from "./sort-order";

export default {
  name: "SectionPermission",
  components: {
    ButtonAdd,
    ButtonRemove,
    SortOrder,
  },

  props: ["permissions"],

  setup(props, { emit }) {
    const { permissions } = toRefs(props);

    const permissionInput = ref("");

    const addPermission = () => {
      emit("addPermission", permissionInput.value);
      permissionInput.value = "";
    };

    const isAscending = ref(true);

    const sortedPermissions = computed(() => {
      const sorted = [...permissions.value].sort();
      if (!isAscending.value) sorted.reverse();
      return sorted;
    });

    return { addPermission, permissionInput, isAscending, sortedPermissions };
  },
};
</script>

