<template>
  <section>
    <h2 class="text-xl font-bold text-center">Nutzer ({{ users.length }})</h2>

    <div v-if="users.length > 0">
      <search-field @newInput="setSearch" class="max-w-xs mx-auto mt-4" />

      <div class="mt-10 overflow-x-auto custom-scrollbar">
        <table class="text-left border-separate border-spacing-0 mx-auto">
          <tr>
            <th
              class="sticky left-0 p-4 bg-gray-100 border-r border-gray-400 dark:bg-black"
            >
              <button-sort
                @click="sortUsers('firstName')"
                :isAscending="isAscending"
                :invisibleIcon="sortBy !== 'firstName'"
                >Vorname</button-sort
              >
            </th>
            <td v-for="(user, i) in sortedUsers" :key="i" class="p-4">
              {{ user.firstName }}
            </td>
          </tr>

          <tr>
            <th
              class="sticky left-0 p-4 bg-gray-100 border-r border-gray-400 dark:bg-black"
            >
              <button-sort
                @click="sortUsers('lastName')"
                :isAscending="isAscending"
                :invisibleIcon="sortBy !== 'lastName'"
                >Nachname</button-sort
              >
            </th>
            <td v-for="(user, i) in sortedUsers" :key="i" class="p-4">
              {{ user.lastName }}
            </td>
          </tr>

          <tr>
            <th
              class="sticky left-0 p-4 bg-gray-100 border-r border-gray-400 dark:bg-black"
            >
              <button-sort
                @click="sortUsers('email')"
                :isAscending="isAscending"
                :invisibleIcon="sortBy !== 'email'"
                >Email</button-sort
              >
            </th>
            <td v-for="(user, i) in sortedUsers" :key="i" class="p-4">
              {{ user.email }}
            </td>
          </tr>

          <tr>
            <th
              class="sticky left-0 p-4 bg-gray-100 border-r border-gray-400 dark:bg-black"
            >
              <button-sort
                @click="sortUsers('phoneNumber')"
                :isAscending="isAscending"
                :invisibleIcon="sortBy !== 'phoneNumber'"
                >Telefonnummer</button-sort
              >
            </th>
            <td v-for="(user, i) in sortedUsers" :key="i" class="p-4">
              {{ user.phoneNumber }}
            </td>
          </tr>

          <tr>
            <th
              class="sticky left-0 p-4 bg-gray-100 border-r border-gray-400 dark:bg-black"
            >
              <button-sort
                @click="sortUsers('role')"
                :isAscending="isAscending"
                :invisibleIcon="sortBy !== 'role'"
                >Rolle</button-sort
              >
            </th>
            <td v-for="(user, i) in sortedUsers" :key="i" class="p-4">
              {{ user.role }}
            </td>
          </tr>

          <tr>
            <th class="sticky left-0 p-4 bg-gray-100 dark:bg-black"></th>
            <td v-for="(user, i) in sortedUsers" :key="i" class="p-4">
              <div class="flex space-x-2">
                <button-edit @click="openUserEdit(user)" />
                <button-remove @click="$emit('removeUser', user)" />
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <app-modal v-if="userEdit.show" @toggle="userEdit.show = !userEdit.show">
      <div class="w-full max-w-md m-auto">
        <p class="text-xl font-black">Nutzer bearbeiten</p>
        <div class="space-y-2 mt-4">
          <label class="block"
            ><span class="text-sm">Vorname</span
            ><input
              v-model="userEdit.firstName"
              class="block w-full input"
              type="text"
          /></label>
          <label class="block"
            ><span class="text-sm">Nachname</span
            ><input
              v-model="userEdit.lastName"
              class="block w-full input"
              type="text"
          /></label>
          <label class="block"
            ><span class="text-sm">Email</span
            ><input
              v-model="userEdit.email"
              class="block w-full input"
              type="text"
          /></label>
          <label class="block"
            ><span class="text-sm">Telefonnummer</span
            ><input
              v-model="userEdit.phoneNumber"
              class="block w-full input"
              type="text"
          /></label>
          <label class="block"
            ><span class="text-sm">Rolle</span>
            <select v-model="userEdit.role" class="block w-full input">
              <option
                v-for="(role, index) in roles"
                :key="index"
                :value="role.name"
              >
                {{ role.name }}
              </option>
            </select>
          </label>
        </div>
        <button
          @click="updateUser(userEdit)"
          class="block mx-auto mt-6 btn-ghost"
        >
          Speichern
        </button>
      </div>
    </app-modal>

    <button
      @click="userAdd.show = !userAdd.show"
      class="block mx-auto mt-8 btn-ghost"
    >
      Nutzer hinzufügen
    </button>
    <app-modal v-if="userAdd.show" @toggle="userAdd.show = !userAdd.show">
      <div class="w-full max-w-md m-auto">
        <p class="text-xl font-black">Nutzer hinzufügen</p>
        <div class="mt-4 space-y-2">
          <label class="block"
            ><span class="text-sm">Vorname</span
            ><input
              v-model="userAdd.firstName"
              class="block w-full input"
              type="text"
          /></label>
          <label class="block"
            ><span class="text-sm">Nachname</span
            ><input
              v-model="userAdd.lastName"
              class="block w-full input"
              type="text"
          /></label>
          <label class="block"
            ><span class="text-sm">Email</span
            ><input
              v-model="userAdd.email"
              class="block w-full input"
              type="text"
          /></label>
          <label class="block"
            ><span class="text-sm">Telefonnummer</span
            ><input
              v-model="userAdd.phoneNumber"
              class="block w-full input"
              type="text"
          /></label>
          <label class="block"
            ><span class="text-sm">Rolle</span>
            <select v-model="userAdd.role" class="block w-full input">
              <option
                v-for="(role, index) in roles"
                :key="index"
                :value="role.name"
              >
                {{ role.name }}
              </option>
            </select>
          </label>
        </div>
        <button-add @click="addUser(userAdd)" class="block mx-auto mt-6" />
      </div>
    </app-modal>
  </section>
</template>

<script>
import { computed, ref, toRefs, reactive } from "vue";
import ButtonAdd from "./button-add";
import ButtonEdit from "./button-edit";
import ButtonRemove from "./button-remove";
import ButtonSort from "./button-sort";
import AppModal from "./app-modal";
import SearchField from "./search-field";

export default {
  name: "SectionUser",
  components: {
    ButtonAdd,
    ButtonEdit,
    ButtonRemove,
    AppModal,
    SearchField,
    ButtonSort,
  },
  props: ["roles", "users"],

  setup(props, { emit }) {
    const { users } = toRefs(props);

    const showUserEdit = ref(Array(users.value.length).fill(false));
    const showUserAdd = ref(false);

    const userAdd = reactive({
      show: false,
      firstName: "",
      lastName: "",
      email: "",
      phoneNumber: "",
      role: "",
    });

    const userEdit = reactive({
      show: false,
      id: null,
      firstName: "",
      lastName: "",
      email: "",
      phoneNumber: "",
      role: "",
    });
    const openUserEdit = (user) => {
      userEdit.show = true;
      userEdit.id = user.id;
      userEdit.firstName = user.firstName;
      userEdit.lastName = user.lastName;
      userEdit.email = user.email;
      userEdit.phoneNumber = user.phoneNumber;
      userEdit.role = user.role;
    };

    const search = ref("");
    const setSearch = (value) => {
      search.value = value;
    };

    const searchUsers = computed(() => {
      const filtered = users.value.filter((item) => {
        for (let key in item) {
          if (key === "id") continue;
          if (item[key].toLowerCase().includes(search.value.toLowerCase()))
            return true;
        }
        return false;
      });
      return filtered;
    });

    const sortBy = ref("firstName");
    const isAscending = ref(true);

    const sortedUsers = computed(() => {
      const orderModifier = isAscending.value ? 1 : -1;
      const sorted = [...searchUsers.value].sort((a, b) => {
        // Both are numbers
        if (!isNaN(a[sortBy.value]) && !b[sortBy.value]) {
          (a[sortBy.value] - b[sortBy.value]) * orderModifier;
        } else {
          const aLower = a[sortBy.value].toLowerCase();
          const bLower = b[sortBy.value].toLowerCase();
          if (aLower > bLower) {
            return 1 * orderModifier;
          } else if (aLower < bLower) {
            return -1 * orderModifier;
          } else {
            return 0;
          }
        }
      });

      return sorted;
    });

    const sortUsers = (by) => {
      if (sortBy.value === by) {
        isAscending.value = !isAscending.value;
      } else {
        isAscending.value = true;
      }
      sortBy.value = by;
    };

    const addUser = (user) => {
      emit("addUser", user);
      userAdd.show = false;
    };
    const updateUser = (user) => {
      emit("updateUser", user);
      userEdit.show = false;
    };

    return {
      sortedUsers,
      sortUsers,
      sortBy,
      search,
      setSearch,
      showUserEdit,
      showUserAdd,
      isAscending,
      userEdit,
      openUserEdit,
      updateUser,
      addUser,
      userAdd,
    };
  },
};
</script>
