<template>
  <label
    class="h-5 rounded-full shadow-xs w-16 border border-black dark:border-opacity-50 clr-surface cursor-pointer select-none tap-highlight-color-transparent dark:border-white"
  >
    <input
      class="block h-full opacity-0 w-full z-10"
      type="checkbox"
      @click="toggleTheme"
      v-model="checked"
    />
    <!-- Slider -->
    <span
      class="absolute bottom-0 h-5 left-0 mb-auto mt-auto rounded-full top-0 w-5 bg-black dark:bg-white"
    ></span>

    <div
      class="absolute flex flex-col h-full items-center justify-center top-0 w-full"
    >
      <!-- <span v-show="!checked" class="mr-3 opacity-25 self-end text-xs" -->
      <!--   >dark</span -->
      <!-- > -->
      <svg-moon
        v-show="!checked"
        class="mr-3 opacity-25 self-end text-xs w-4 h-4"
      />
      <svg-sun
        v-show="checked"
        class="ml-3 opacity-25 self-start text-xs w-4 h-4"
      />
    </div>
  </label>
</template>

<script>
import { ref } from "vue";
import { SvgMoon, SvgSun } from "../assets/svg";

export default {
  components: {
    SvgMoon,
    SvgSun,
  },

  setup() {
    const theme = ref("dark");
    const checked = ref(false);

    const toggleTheme = () => {
      if (theme.value === "dark") {
        theme.value = "light";
        localStorage.setItem("theme", theme.value);
        document.documentElement.classList.remove("dark");
      } else {
        theme.value = "dark";
        localStorage.setItem("theme", theme.value);
        document.documentElement.classList.add("dark");
      }
    };

    return { theme, checked, toggleTheme };
  },

  mounted() {
    // Set theme according to stored state or user preferences.
    let stored_theme = localStorage.getItem("theme");
    if (stored_theme) {
      this.theme = stored_theme;
      if (stored_theme === "light") {
        this.checked = true;
        document.documentElement.classList.remove("dark");
      }
    } else if (window.matchMedia("(prefers-color-theme: light)").matches) {
      this.theme = "light";
      this.checked = true;
      document.documentElement.classList.remove("dark");
    }
  },

  // watch: {
  //   theme(theme) {
  //     document.documentElement.dataset.theme = theme;
  //   },
  // },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input:checked + span {
  @apply right-0;
  @apply left-auto;
}
</style>
