<!DOCTYPE html>
<html lang="de" class="h-full dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Personalizer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="h-full bg-gray-100 text-black dark:bg-black dark:text-white">
    <noscript>
      <strong
        >Ohne Javascript funktioniert diese Seite nicht / nur
        eingeschränkt.</strong
      >
    </noscript>
    <div id="app" class="h-full"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
